.letters{
    background-color: $orange;
    color: $white;
    &__row{
        // margin-top: 2rem;
        &--input{
            border-radius: 0;
            height: 54px;
            outline: none;
        }
        &--btn{
            background-color: $black;
            color: $white;
        }
    }
}