.movement
    background-color: $black
    font-family: 'Poppins', sans-serif
    &__row
        justify-content: center
        &--img
            width: 75px
    &__text
        &--title
            color: $white
            // cursor: pointer
            font-size: 2.5rem
            &:hover
                text-decoration-line: underline
                text-decoration-color: $white 
        &--line
            background-color: $black
            cursor: pointer
            width: 100px
            height: 3px
            margin-bottom: 2rem
            &:hover
                background-color: $white
        &--text
            font-size: 15px        