.searchdetails
    &--btn
        border: 1px solid $orange
        background-color: $white
        box-sizing: border-box
        font-weight: 600
        transition: ease-in .5s
        padding: 10px
        &:hover
            background-color:  $orange
            color: $white