@import './_variables'
@import './_mixins'
@import  './_bar'
@import './_banner'
@import './_movement'
@import './_campaign'
@import './_letters'
@import './_footer'
@import './_signup'
@import './_donations'
@import './_searchForm'
@import './_searchDetails'

*
  box-sizing: border-box
  outline: none

html,
body
  height: 100%
  overflow-x: hidden
  font-family: 'Poppins', sans-serif


code 
  font-family: 'Poppins', sans-serif
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace